.nav__button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: inherit;
  padding: 23px 28px;
  opacity: 0.7;
}
.nav__button.active,
.nav__button:not(.active):hover {
  opacity: 1;
  background-color: var(--header-accent-color);
}
