@import url(./__list/gallary__list.css);
@import url(./__item/gallary__item.css);

.gallary {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap);
  margin-block-start: var(--main-gap);
  /* min-height: calc(100vh - var(--header-max-height)); */
  min-height: var(--gallary-min-height);
}

.gallary.active {
  display: flex;
}
