@import url("./__image/card__image.css");
@import url("./__like-button/card__like-button.css");
@import url("./__preloader/card__preloader.css");

.card {
  aspect-ratio: 1/1;
  max-width: var(--max-card-width);
  background-color: var(--card-background);
  overflow: hidden;
  position: relative;

  transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in;
}
@media (width > 700px) {
  @media (hover: hover) {
    .card:hover {
      scale: var(--card-scale-on-hover);
      box-shadow: var(--card-shadow);
    }
  }
}
.card.like {
  box-shadow: var(--card-shadow);
}
