@import url("./__image/card__image.css");
@import url("./__like-button/card__like-button.css");

.card {
  aspect-ratio: 1/1;
  max-width: var(--max-card-width);
  background-color: #eee;
  overflow: hidden;
  position: relative;

  transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in;
}
.card:hover {
  scale: 1.14;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.card:hover .card__like-button {
  display: block;
  scale: 0.877;
}
